/*
COLORS:

Light green: #7ed56f, rgb(126,213,111)
Medium green: #55c57a, rgb(85,197,122)
Dark green: #28b485, rgb(40,180,133)

*/

$color-primary: #55c57a;
$color-pirmary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;




//Header
$header-height: 95vh;
$header-polygon-bottom-right-clip: 75vh;
