@keyframes moveInLeft { /*animation, browsers optimized for only animating the opacity and transform properties*/
     0% { /*start*/
          opacity: 0;
          transform: translateX(-10rem);
     }
     80%{
          transform: translateX(1rem);
     }
     100% { /*finish*/
          opacity: 1;
          transform: translateX(0); /*as if not transformed at all*/
     }
}

@keyframes moveInRight { /*animation, browsers optimized for only animating the opacity and transform properties*/
     0% { /*start*/
          opacity: 0;
          transform: translateX(10rem);
     }
     80%{
          transform: translateX(-1rem);
     }
     100% { /*finish*/
          opacity: 1;
          transform: translateX(0); /*as if not transformed at all*/
     }
}

@keyframes moveInBottom { /*animation, browsers optimized for only animating the opacity and transform properties*/
     0% { /*start*/
          opacity: 0;
          transform: translateY(3rem);
     }

     100% { /*finish*/
          opacity: 1;
          transform: translateY(0); /*as if not transformed at all*/
     }
}
